# Global reviewers for any change to dev or prod
# (GitHub rulesets require 1 approval; this ensures they are pinged)
*          @vmarko-iq-2
# Folder-specific owners
/dir1/     @vmarko-iq-2
/dir2/     @vmarko-iq-2
